@use '../../styles/base/Vars.scss' as *;

.loader {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $bg;

    &_local {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.21);
    }
  }

  &__container {
    display: flex;
    column-gap: 0.5em;
  }

  &__bullet {
    --edge: 1em;
    --trans-duration: 1.5s;
    width: var(--edge);
    height: var(--edge);
    background-color: $almostBlack;
    border-radius: 50%;

    @keyframes  levitate {
      0%, 80% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-1em);
      }
    }

    &:nth-of-type(1) {
      animation: levitate var(--trans-duration) ease-in-out infinite;
      animation-delay: 0s;
    }
    &:nth-of-type(2) {
      animation: levitate var(--trans-duration) ease-in-out infinite;
      animation-delay: .2s;
    }
    &:nth-of-type(3) {
      animation: levitate var(--trans-duration) ease-in-out infinite;
      animation-delay: .4s;
    }
    &:nth-of-type(4) {
      animation: levitate var(--trans-duration) ease-in-out infinite;
      animation-delay: .6s;
    }
  }
}