@use '../../styles/base/Vars.scss' as *;
@use '../../styles/base/Mixins.scss' as *;

.operation-item {
  position: relative;
  background-color: $widgetBg;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $dGap;
  padding: $sGap;
  border-radius: $mBorderRadius;
}

.operation-swipe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: $mBorderRadius;
}

.operation-background {
  position: absolute;
  inset: 0;
  background-color: $almostBlack;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  border-radius: $mBorderRadius;
  z-index: 0;
  margin: 1px;

  .operation-background-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    justify-content: space-between;
    padding: $sGap;
  }
}

.operation-item-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}

.operation-info {
  display: flex;
  flex-direction: column;
  gap: $xsGap;
  max-width: 11rem;
}

.operation-title {
  @include Body2;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.operation-subtitle {
  @include Caption2;
  color: $notFunnyBlue;
}

.operation-amount {
  @include Body2;

  &.income {
    color: $income;
  }

  &.expense,
  &.transfer {
    color: $notFunnyBlue;
  }
}

.operation-swipe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.right-title {
  @include Body2;
  color: #ffffff;
}

.right-action {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  @include Caption2;
  color: #ffffff;
}
