@use '../../styles/base/Vars.scss' as *;
@use '../../styles/base/Mixins.scss' as *;

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: $widgetBg;
  border-radius: $mBorderRadius;
  max-width: 20rem;
  width: 90%;
  padding: 20px;
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: $dGap;
}

.modal__icon {
  display: flex;
  justify-content: center;
}

.modal__title {
  @include Headline1;
}

.modal__body {
  @include Body1;
}

.modal__actions {
  display: flex;
  justify-content: center;
  gap: $xsGap;
}
