@use '../../styles/base/Vars.scss' as *;
@use '../../styles/base/mixins.scss' as *;

.bottom-nav-wrapper {
  position: fixed;
  bottom: $sGap;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 11;

  .bottom-nav {
    background-color: $almostBlack;
    border-radius: $mBorderRadius;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    .nav-item-wrapper {
      flex: 1 1 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: $sGap $mGap;
      .nav-item {
        @include Caption2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $xsGap;
        color: #ffffff;
        z-index: 0;
        user-select: none;
        transition: all ease-in 0.1s;
      }
    }
    .active .nav-item {
      color: $almostBlack;
      position: relative;
      z-index: 1;
    }
  }

  .active-indicator {
    position: fixed;
    bottom: $sGap;
    height: 4.125em;
    background-color: white;
    border-radius: $mBorderRadius;
    z-index: 0;
  }
}
