@use '../../styles/base/Vars.scss' as *;
// @use '../../styles/base/Mixins.scss' as *;

.color-picker-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: $xsGap;
  background-color: $widgetBg;
  padding: $xsGap;
  border-radius: $mBorderRadius;
  justify-items: center;
}

.color-picker-button {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: $sBorderRadius;
  cursor: pointer;
  transition: transform 0.2s;

  &.selected {
    transform: scale(1.1);
    border: 2px solid $notFunnyBlue;
  }
}
