@use '../styles/base/Vars.scss' as *;

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $lGap $mGap $lGap * 6 $mGap;
  gap: $lGap;
  overflow: hidden;
}
