@use '../styles/base/Vars.scss' as *;

main {
  height: max-content;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $lGap $mGap $lGap * 6 $mGap;
  gap: $lGap;
}
