$bg: #e9eef3;
$widgetBg: #ffffff;
$funnyBlue: #d9dfed;
$chillGrey: #cacfdb;
$almostBlack: #161616;
$notFunnyBlue: #606881;

$pastelRed: #fd7790;
$pastelBlue: #97d4fd;
$pastelYellow: #ffe67a;
$pastelGreen: #77fd7c;
$pastelPink: #fd97fa;

// Отступы
$lGap: 2em; // 32px
$mGap: 1.25em; // 20px
$dGap: 1em; // 16px
$sGap: 0.75em; // 12px
$xsGap: 0.5em; // 8px

// Скругления
$lBorderRadius: 1.25em;
$mBorderRadius: 0.875em;
$sBorderRadius: 0.5em;

// Шрифт
$baseFont: 'Inter', sans-serif;

// Типографика
$headline1-size: 1.75em;
$headline2-size: 1.25em;
$subtitle1-size: 1.125em;
$body1-size: 1em;
$body2-size: 0.875em;
$caption2-size: 0.625em;

$headline1-weight: 700;
$headline2-weight: 700;
$subtitle1-weight: 700;
$body1-weight: 500;
$body2-weight: 400;
$caption2-weight: 400;
